.logon-container {
    width: 100%;
    max-width: 1120px;
    height: 100vh;
    margin: auto;

    display: flex;
    align-items: center;
    justify-content: center;
}

.logon-container section.form{
    width: 100%;    
    max-width: 350px;
    margin-right: 30px;
}

.logon-container section.form form {
    margin-top: 100px;
}

.logon-container section.form form {
    font-size: 32px;
    margin-bottom: 32px;
}

.logon-container img {
    width: 60%;
    margin: 10px;
    display: flex;
}

.buttonB {
    width: 60%;
    height: 60px;
    background: #00b0ff;
    border: 0;
    border-bottom: 8px;
    color: #FFF;
    font-weight: 700;
    margin-top: 56px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
  }